* {
    font-family: OpenSans !important;
}

/* edit scrollbar */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #a0a0a0;
    border-radius: 10px;
}

.add-task-container {
    margin-left: 233px;
    height: calc(100vh - 100px);
    min-width: 520px;
    width: 35%;
}

.add-task-container-content {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 5%;
    gap: 10px;
    height: calc(100vh - 100px);
    overflow: auto;
}

.add-task-container-content input,
.add-task-container-content textarea {
    outline: none;
}

.add-task-container-content label {
    color: #42526E;
    font-style: normal;
    font-weight: 700;
    line-height: 200%;
}

#add-task-title,
#add-task-description,
#add-task-date,
#add-task-assigne,
#add-task-category,
#add-task-subtask-input {
    border: unset;
    height: 30px;
    border-bottom: 1px solid #D1D1D1;
    font-size: 16px;
    padding: 5px;
}

#add-task-subtask-input {
    border-bottom: none;
}

#add-task-title {
    margin-top: 20px;
    font-size: 30px;
}

#add-task-description {
    border: 1px solid #D1D1D1;
    border-radius: 0px 10px 10px 10px;
    min-height: 80px;
    padding: 20px;

    resize: none;
}

#add-task-date {
    min-height: 30px;
}

#add-task-assigne,
#add-task-category {
    font-size: 16px;
}

#add-task-assigne,
#add-task-category {
    display: flex;
    justify-content: space-between;
}

#add-task-assigne:hover,
#add-task-category:hover {
    border-bottom: 1px solid #005DFF;
}

#add-task-assigne img:hover,
#add-task-category img:hover {
    background-color: #D2E3FF;
    border-radius: 100%;
}

#add-task-category-alert,
#add-task-subtask-alert {
    color: red;
}

.add-task-contacts-to-assigne-list-item,
.add-task-category-dropdown-task {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 5px;
}

.add-task-contacts-to-assigne-list-item:hover,
.add-task-category-dropdown-task:hover {
    cursor: pointer;
    border-radius: 10px;
    background-color: #D2E3FF;
}

.name {
    display: flex;
    align-items: center;
}

.checkbox {
    display: flex;
    align-items: center;
}

.name-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF3D00;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    border: 2px solid #fff;
    color: #fff;
}


.add-task-contacts-to-assigne-list-item .name {
    width: 80%;
}

#add-task-contacts-to-assigne {
    min-height: 200px;
    max-height: 200px;
    overflow-x: auto;
}


#add-task-subtask-container {
    padding-bottom: 100px;
}


#add-task-title::placeholder,
#add-task-description::placeholder,
#add-task-date::placeholder,
#add-task-subtask-input::placeholder {
    color: #D1D1D1;
}

#add-task-subtask-input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #D1D1D1;
    padding: 5px;
}

#add-task-subtask-input-container:hover {
    border-bottom: 1px solid #005DFF;

}

#add-task-subtask-input-container img {
    height: 24px;

    object-fit: contain;
}

#add-task-subtask-input-container img:hover {
    cursor: pointer;
    background-color: #D2E3FF;
    border-radius: 100%;

}

#add-task-subtask-image-container {
    display: flex;
    align-items: center;
}

.hr {
    height: 20px;
    background-color: #c2c2c2;
    width: 1px;
    margin-left: 2px;
    margin-right: 2px;
}

#add-task-subtask-input {
    width: 90%;
}

.rotated-image {
    transform: rotate(180deg);
}

.subtask-edit-input-container,
.searchbar-add-contacts-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #005DFF;
}

.subtask-edit-input-container img:hover,
.searchbar-add-contacts-input-container img:hover {
    cursor: pointer;
    background-color: #D2E3FF;
    border-radius: 100%;
}

.subtask-edit-input-container input,
.searchbar-add-contacts-input-container input {
    width: 90%;
    border: unset;
    padding: 5px;
    font-size: 16px;
}

.subtask-edit-input-container div,
.searchbar-add-contacts-input-container div {
    display: flex;
}

#add-task-priority {
    display: flex;
}

.add-task-priority-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-bottom: 2px solid #fff;

    /* border: 1px solid black; */
    border-radius: 10px;
    background-color: #fff;
    margin-right: 20px;
    height: 50px;
    width: 150px;

    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
}

#add-task-urgent:hover {
    border-bottom: 2px solid #FF3D00;

}

#add-task-medium:hover {
    border-bottom: 2px solid #FFA800;

}

#add-task-low:hover {
    border-bottom: 2px solid #7AE229;

}


.add-task-form-buttons {
    display: flex;
    position: absolute;
    right: 40px;
    bottom: 50px;
    gap: 10px;
}

.add-task-form-buttons button {
    min-width: 100px;
    height: 50px;
    padding: 16px, 10px, 16px, 10px;
    border-radius: 10px;
    gap: 4px;

}

#add-task-create-task {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border: unset;
    color: #fff;

    border-radius: 10px;
    background: #4589FF;
    transition: background-color 0.3 ease-in-out !important;
}

#add-task-create-task:hover {
    background-color: #005DFF;
}

#add-task-clear-form {
    background-color: #fff;
    color: #647188;
    border: 1px solid #647188;
}

#add-task-clear-form:hover {
    color: #4589FF;
    border: 1px solid #4589FF;
}


.d-none {
    display: none;
}

.d-block {
    display: block;
}

.green {
    background-color: green;
}



.selectedContact {
    background-color: #4589FF;
    color: #fff;

    border-radius: 10px;
}

.selectedContact:hover {
    background-color: #005DFF;
}

#add-task-selected-contacts-mini {
    display: flex;
}

#add-task-subtask-list {
    padding-inline-start: 0;

}


#add-task-subtask-list li {
    padding: 2px 10px;

    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}


#add-task-subtask-list li:hover {
    cursor: pointer;
    background-color: #D2E3FF;
}

#add-task-subtask-list li div {
    display: flex;
}

.addedTaskSuccess {
    display: none;
    width: 326px;
    height: 74px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: var(--version-2-main-color, #4589ff);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
    position: absolute;
    left: 50%;
    top: 120%;
    transform: translate(-50%, -50%);
    transition: all 400ms ease-in-out;
    z-index: 20;
    gap: 20px;
}

.addedTaskSuccess p {
    color: #fff;
    font-family: OpenSans;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.addedTaskSuccess img {
    width: 22px;
    height: 26px;
    transform: rotate(-90deg);
    flex-shrink: 0;
}



@media (max-width: 1300px) {

    .add-task-container {
        margin-left: 0;
        width: 100%;
        min-width: 300px;
    }

    .add-task-form-buttons {
        width: 100%;
        display: flex;
        justify-content: center;
        right: 0;
        bottom: 105px;
    }

    #add-task-clear-form {
        display: none;
    }

    #add-task-subtask-container {
        padding-bottom: 145px;
    }


    .add-task-container-content {
        width: auto;
        margin-left: 3%;
        margin-right: 3%;
    }

    #add-task-create-task {
        z-index: 50;
        width: 80%;
    }
}


@media(max-width: 400px) {
    .add-task-priority-box {
        margin-right: 5px;
    }
}