.add-task-container {
    margin-left: 233px;
    height: calc(100vh - 100px);

    width: 35%;
    background-color: aliceblue;

}

.add-task-container-content {

    
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 5%;
}

#add-task-priority {
    display: flex;
}

.add-task-priority-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border: 1px solid black;
    border-radius: 10px;
    background-color: #fff;
    margin-right: 20px;
    height: 50px;
    width: 150px;
}