body {
    margin: 0;
    font-style: normal;
    overflow-y: auto;
    overflow-x: auto;
    font-family: OpenSans !important;
}
.green {
    background-color: green;
}
/* FOR Add Task Popup
@font-face {
    font-family: OpenSans;
    src: url('font/OpenSans-VariableFont_wdth\,wght.ttf');
} */

* {
    font-family: OpenSans !important;

}

#slide-form-add-task {
    height: 100vh;
    width: 30%;
    background-color: #fff;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

    border-radius: 30px 0px 0px 30px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
}

#slide-form-close-btn {
    position: absolute;
    right: 30px;
    top: 15px;

    height: 30px;
    width: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#slide-form-close-btn:hover {
    cursor: pointer;
    background-color: #E3EEFF;
    border-radius: 100%;
}


#slide-form-add-task {
    display: none;
}



/* edit scrollbar */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 550px;
}

::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #a0a0a0;
    border-radius: 10px;
}



.add-task-container {
    height: calc(100vh - 100px);
    min-width: 95%;
    /* background-color: aliceblue; */
}

.add-task-container-content {
    display: flex;
    flex-direction: column;
    width: 93%;
    margin-left: 5%;
    gap: 10px;
    height: calc(100vh - 100px);
    overflow: auto;
}

.add-task-container-content label {
    color: #42526E;
    font-style: normal;
    font-weight: 700;
    line-height: 200%;
}

#add-task-title,
#add-task-description,
#add-task-date,
#add-task-assigne,
#add-task-category,
#add-task-subtask {
    border: unset;
    height: 30px;
    border-bottom: 1px solid #D1D1D1;
    font-size: 16px;
    padding: 5px;
}

#add-task-title {
    font-size: 30px;
}

#add-task-description {
    border: 1px solid #D1D1D1;
    border-radius: 0px 10px 10px 10px;
    min-height: 80px;
    padding: 20px;

    resize: none;
}

#add-task-date {
    min-height: 30px;
}

#add-task-assigne,
#add-task-category {
    font-size: 16px;
}

#add-task-assigne,
#add-task-category {
   display: flex;
    justify-content: space-between;
}

#add-task-assigne:hover,
#add-task-category:hover {
   border-bottom: 1px solid #005DFF;
}

#add-task-assigne img:hover,
#add-task-category img:hover {
   background-color: #D2E3FF;
    border-radius: 100%;
}


.add-task-contacts-to-assigne-list-item,
.add-task-category-dropdown-task {
   display: flex;
    justify-content: space-between;
    padding: 10px;
}

.add-task-contacts-to-assigne-list-item:hover,
.add-task-category-dropdown-task:hover {
   cursor: pointer;
    border-radius: 10px;
    background-color: #D2E3FF;
}

.name {
    display: flex;
    align-items: center;
}

.checkbox {
    display: flex;
    align-items: center;
}

.name-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF3D00;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    border: 2px solid #fff;
    color: #fff;
}


.add-task-contacts-to-assigne-list-item .name {
    width: 80%;
}

#add-task-subtask {
    padding-bottom: 50px;
}

#add-task-title::placeholder,
#add-task-description::placeholder,
#add-task-date::placeholder,
#add-task-subtask::placeholder {
    color: #D1D1D1;
}

#add-task-priority {
    display: flex;
}

.add-task-priority-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-bottom: 2px solid #fff;

    /* border: 1px solid black; */
    border-radius: 10px;
    background-color: #fff;
    margin-right: 5px;
    height: 50px;
    width: 150px;

    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
}

#add-task-urgent:hover {
    border-bottom: 2px solid #FF3D00;

}

#add-task-medium:hover {
    border-bottom: 2px solid #FFA800;

}

#add-task-low:hover {
    border-bottom: 2px solid #7AE229;

}


.add-task-form-buttons {
    display: flex;
    position: absolute;
    right: 40px;
    bottom: 50px;
    gap: 10px;
}

.add-task-form-buttons button {
    /* width: Hug (174px); */
    min-width: 100px;
    height: 50px;
    padding: 16px, 10px, 16px, 10px;
    border-radius: 10px;
    gap: 4px;

}

#add-task-create-task {
display: flex;
justify-content: center;
align-items: center;
gap: 4px;
border: unset;
color: #fff;

border-radius: 10px;
background: #4589FF;
transition: background-color 0.3 ease-in-out!important;
}

#add-task-create-task:hover {
    background-color: #005DFF;
}

#add-task-clear-form {
    background-color: #fff;
    color: #647188;
    border: 1px solid #647188;
}

#add-task-clear-form:hover {
    color: #4589FF;
    border: 1px solid #4589FF;
}   

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.drag-area {
    height: 100vh;
    /* background-color: rgba(0, 0, 0, 0.1); */
    /* border: 1px dashed black; */
    margin-bottom: 50px;
    display: flex;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.drag-area-highlight {
    background-color: rgba(232, 22, 22, 0.2);
}

.todo {
    display: flex;
    width: 252px;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border: 1px solid black;
    margin: 10px;
    border-radius: 24px;
    background: var(--white, #FFF);
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
    box-sizing: border-box;
    border: none;
}

.selectContact{
    display: flex;

}

.boardNameBox{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF3D00;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    border: 2px solid #fff;
    color: #fff;
    margin-right: -10px;
}

.category{
    display: flex;
    padding: 4px 16px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #FF7A00;
    color: #FFF;
    width: fit-content;
    height: auto;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 19.2px */
    margin-bottom: 15px;
}

.taskName{
    color: var(--version-2-main-color, #4589FF);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 19.2px */   
    padding-bottom: 15px;
}

.taskInfo{
    color: var(--icon, #A8A8A8);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 19.2px */
    padding-bottom: 15px;
}

.emtyTask{
    display: flex;
    height: 48px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 10px;
    border: 1px dashed var(--icon, #A8A8A8);
    background: #E7E7E7;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
    color: var(--icon, #A8A8A8);
}

.centerDiv{
    display: flex;
    align-items: center;
    justify-content: center;
}


.editTaskContainerBoard {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(209, 209, 209, 0.7);
    z-index: 100;
    opacity: 1.0;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.editTask{
    width: 528px;
    padding: 48px 40px;
    align-items: flex-start;
    gap: 24px;
    flex-direction: column;
    border-radius: 30px;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
    z-index: 500;
}



.popupTaskTitel{
    color: var(--black, #000);
    font-family: Open Sans;
    font-size: 61px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 73.2px */
}

.popupTaskInfoTitel{
    color: var(--menu-color, #42526E);
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 25.2px */
}


.popupTaskDescription{
    color: var(--black, #000);
    /* align-self: stretch; */
    font-family: Open Sans;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 22.8px */
}

.popupTaskDescription:first-letter {
    text-transform: uppercase;
}

.spacebetween {
    display: flex;
    justify-content: space-between;
}

.selectContactPopup{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.singleContactPopup{
    display: flex;
    align-items: center;
    gap: 25px;
}

.editButtonContainer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.editButton{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding-right: 4px;
    cursor: pointer;
}

.assignedSubtasksContainer{
    padding-left: 15px;
}


.tableRaw{

    display: flex;
    flex-direction: column;
}

tbody{
    display: flex;
    gap: 25px;
}



input[type="checkbox"] {
    display: none;
  }

  /* Verwende ein Bild als Hintergrund für das Label */
  input[type="checkbox"] + label {
    background: url('assets/img/add-task/checkbox.png') no-repeat;
    background-size: contain; /* Oder cover, je nach Bedarf */   
    display: inline-block; /* Damit das Label die Breite und Höhe des Bildes annimmt */
    cursor: pointer; /* Ändert den Mauszeiger, um anzuzeigen, dass auf das Label geklickt werden kann */
    width: 24px;
    height: 24px;
    padding: 4px;
    justify-content: center;
    align-items: center;
  }

  input[type="checkbox"]:checked + label {
    background: url('assets/img/add-task/checkbox-checked.png') no-repeat;
    background-size: contain; /* Oder cover, je nach Bedarf */
  }

  .flex_spaceBetween{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .priorityIcon{
    width: 20px !important; 
    height: auto !important;

  }