html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif; /* font ist opensans - arial gerade nur als platzhalter */
}
.imagecontainer{
    position: absolute;

    height: 100vh;
    width: 100%;
    background-color: #4589ff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease-in-out;
}
.frontimage{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s ease-in-out;
}
#login-container{
    transition:  all 2s ease-in-out;
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 490px;
    width: 650px;
    border: 0.5px solid black;
    border-radius: 30px;
}

.login #remember-div {
    align-self: flex-start;
    margin-left: 105px;
}

.login h1 {
    border-bottom: 3px solid #4589ff;
}

.login input[type="text"] {
    width: 422px;
    height: 48px;
    margin-bottom: 20px;
    cursor: pointer;

}

button {
    cursor: pointer;
}

.buttons button {
    border: 1px solid #647188;
    font-size: 23px;
    min-width: 135px;
    height: 48px;
    border-radius: 8px;

}

.buttons button:first-child {
    border: 1px solid #4589ff;
    background-color: #4589ff;
    color: #fff;
}

.buttons button:first-child:hover {
    background-color: #005DFF;
}

.buttons button:last-child {
    background-color: #fff;
    color:#647188;
}

.buttons button:last-child:hover {
    color: #4589ff;
    border-color: #4589ff;
}