@font-face {
  font-family: OpenSans;
  src: url("font/OpenSans/OpenSans-VariableFont_wdth,wght.ttf");
}
@font-face {
  font-family: Inter;
  src: url("font/Inter/Inter-VariableFont_slnt,wght.ttf");
}

.d-none {
  display: none !important;
}

h1,
h2,
h3,
h4 {
  font-family: OpenSans !important;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-style: normal;
  overflow-y: hidden;
  overflow-x: hidden;
  font-family: OpenSans !important;
}

#summaryPage.active {
  background-color: rgb(210, 227, 255);
  border-radius: 8px;
}
#taskPage.active {
  background-color: rgb(210, 227, 255);
  border-radius: 8px;
}
#boardPage.active {
  background-color: rgb(210, 227, 255);
  border-radius: 8px;
}
#contactsPage.active {
  background-color: rgb(210, 227, 255);
  border-radius: 8px;
}

.imagecontainer {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: #4589ff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease-in-out;
  z-index: 10;
}
.frontimage {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 1s ease-in-out;
  z-index: 15;
}
#login-container {
  transition: all 2s ease-in-out;
  display: none;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
#sign-up {
  display: flex;
  position: absolute;
  right: 100px;
  top: 40px;
  gap: 40px;
  font-size: 30px;
  align-items: center;
}
.login {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 490px;
  width: 650px;
  /* border: 0.5px solid black; */
  box-shadow: rgba(149, 157, 165, 0.6) 0px 8px 24px;
  border-radius: 30px;
}
.loginInput {
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: rgba(149, 157, 165, 0.5);
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px;
}
.loginInput::placeholder {
  color: rgba(149, 157, 165, 0.5);
}
.login #remember-div {
  align-self: flex-start;
  margin-left: 105px;
}

.login h1 {
  /* border-bottom: 3px solid #4589ff; */
  position: relative;
  text-decoration: none;
  font-size: 46px;
}
.login h1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 110%;
  border-bottom: 3px solid #4589ff;
}

.login input[type="email"],
.login input[type="password"] {
  width: 422px;
  height: 48px;
  margin-bottom: 20px;
  cursor: pointer;
}
#login {
  background-image: url(assets/img/mail.png);
  background-repeat: no-repeat;
  background-position: right;
}
#password {
  background-image: url(assets/img/lock.png);
  background-repeat: no-repeat;
  background-position: right;
}
.privacyNotice {
  position: absolute;
  bottom: 43px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-direction: row;
  width: 240px;
  height: 35px;
  flex-shrink: 0;
  z-index: 9;
}
.privacyNotice a {
  color: var(--menu-color, #42526e);
  font-family: OpenSans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
  text-decoration: none;
}
.privacyNotice button {
  display: inline-flex;
  padding: 8px;
  align-items: center;
  gap: 8px;
  border: unset;
  background-color: rgba(0, 0, 0, 0);
}
.signUpBtn button {
  font-size: 30px;
  cursor: pointer;
  background-color: #4589ff;
  border: unset;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  font-weight: light;
}
.signUpBtn button:hover {
  background-color: #005eff;
}
.buttons {
  display: flex;
  gap: 40px;
}

button {
  cursor: pointer;
  font-family: OpenSans !important;
}

.buttons button {
  border: 1px solid #647188;
  font-size: 23px;
  min-width: 135px;
  height: 48px;
  border-radius: 8px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: OpenSans !important;
}

.buttons button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.buttons button:first-child {
  border: 1px solid #4589ff;
  background-color: #4589ff;
  color: #fff;
}

.buttons button:first-child:hover {
  background-color: #005dff;
}

.buttons button:last-child {
  background-color: #fff;
  color: #647188;
}

.buttons button:last-child:hover {
  color: #4589ff;
  border: 2px solid #005dff;

  /* border-color: #4589ff; */
}

#guest-log-in-btn {
  background-color: #fff;
}

/* Board Styling */
.board-container {
  margin-left: 240px;
  height: 215px;
  padding: 72px 0px 16px 0px;
  gap: 48px;
  display: block;
}
.boardHeader {
  display: flex;
  width: 1078px;
  height: 51px;
  gap: 35px;
  padding: 0px 64px 0px 64px;
}
.addTask-container {
  display: flex;
  flex-direction: column;
}
#findTask {
  background-image: url(assets/img/searchbuttonimg.png);
  background-repeat: no-repeat;
  background-position: right;
  width: 312px;
  border-radius: 10px;
  border: 1px solid rgb(212, 212, 212);
  padding: 8px 16px 8px 16px;
  gap: 10px;
}
.addTaskBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 51px;
  font-size: 19px;
  padding: 16px 10px;
  gap: 10px;
  border: unset;
  color: #fff;
  border-radius: 10px;
  border: 1px solid var(--version-2-main-color, #4589ff);
  background: var(--version-2-main-color, #4589ff);
}
.columnTitles {
  display: flex;
  justify-content: space-between;
  padding: 0px 64px 0px 64px;
}
.columnTitles img {
  width: 24px;
  height: 24px;
}
.columnTitles h1 {
  font-size: 23px;
  color: rgba(66, 82, 110, 1);
  display: flex;
  justify-content: space-between;
  width: 244px;
}
/* Board Styling Ende */

/* Contacts Styling */
.contacts {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.contacts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 456px;
  /* height: 928px; */
  position: absolute;
  bottom: 0;
  left: 232px;
  top: 96px;
  flex-shrink: 0;
  box-shadow: 4px 0px 6px 0px rgba(0, 0, 0, 0.08);
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 9;
}
.contacts-container::-webkit-scrollbar {
  width: 18px;
  background-color: white;
}
.contacts-container::-webkit-scrollbar-track {
  background-color: white;
}
.contacts-container::-webkit-scrollbar-thumb {
  background-color: #a8a8a8;
  border-radius: 10px;
  border: 6px solid white;
  height: 53px;
}
.contacts-container::-webkit-sc .addContact {
  display: flex;
  width: 352px;
  padding: 32px 24px;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
}
.btnContainer {
  background: white;
  width: 408px;
  display: flex;
  padding: 24px 6px 16px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: fixed;
  left: 240px;
  top: 110px;
  height: 56px;
  z-index: 15;
  /* box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.08); */
}
.addContactBtn {
  display: flex;
  width: 357px;
  padding: 16px 10px 16px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid rgba(69, 137, 255, 1);
  border-radius: 10px;
  color: white;
  background: rgba(69, 137, 255, 1);
  font-size: 23px;
  font-weight: 400;
}
.addContactBtn:hover {
  background-color: rgb(0, 93, 255);
}

.contactList {
  scroll-behavior: smooth;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  top: 80px;
  width: 352px;
  padding: 32px 24px;
  z-index: 1;
}
.contactInfo {
  display: flex;
  width: 304px;
  padding: 15px 24px;
  align-items: center;
  gap: 35px;
  border-radius: 10px;
  cursor: pointer;
}
.contactInfo:hover {
  background-color: rgb(210, 227, 255);
}
.firstLetter {
  width: 280px;
  display: flex;
  padding: 17px 36px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  font-family: Inter;
}
.contactInfo h2 {
  color: #000;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  margin-block-end: 0;
  margin-block-start: 0;
}
.contactInfo h2 p {
  font-size: 16px;
  text-decoration: underline;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  color: #4589ff;
  margin-block-end: 0;
  margin-block-start: 0;
}
.profileBadge {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Inter !important;
}
.contactViewBadge {
  width: 120px;
  height: 120px;
}
.contact-view {
  /* hier Contact-View popup*/
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 21px;
  position: relative;
  top: 68px;
  transition: all 200ms ease-in-out;
  overflow-y: hidden;
}
.mobileBackArrow {
  display: none;
}
#profileBadge {
  font-family: Inter !important;
}
.contacts-top {
  display: flex;
  gap: 54px;
  align-items: center;
  flex-direction: row;
}
.contact-view h2 {
  color: #000;
  font-family: OpenSans;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 27.6px */
  margin-block-end: 0;
  margin-block-start: 0;
}
.contact-view h3 {
  margin-block-end: 0;
  margin-block-start: 0;
  color: #000;
  font-family: OpenSans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 19.2px */
}
#profileEmail {
  color: #005dff;
  font-family: OpenSans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
}
#profilePhone {
  color: #000;
  font-family: OpenSans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
}
.profileName {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.profileName h1 {
  color: #000;
  font-family: Inter; /* muss Inter*/
  font-size: 47px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 56.4px */
  margin-block-end: 0;
  margin-block-start: 0;
}
.profileActions {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
}
.profileActions button {
  border: none;
  background-color: unset;
  color: black;
}
.profileActions img {
  width: 24px;
  height: 24px;
}
.profileEdit {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.profileDel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.blueColor {
  background: #4589ff !important;
}
.whiteColor {
  color: white !important ;
  text-decoration: none !important;
}
.mobileAddContact {
  display: none;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid var(--Version-2-main-color, #4589ff);
  background: var(--Version-2-main-color, #4589ff);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 15;
  bottom: 100px;
  right: 5%;
  cursor: pointer;
}
.popupbackground {
  display: none;
  background-color: rgba(255, 255, 255, 0.6);
  height: calc(100vh - 196px);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 18;
}
.addContact-container {
  height: 1024px;
  width: 584px;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 72px;
  border-radius: 30px 0px 30px 30px;
  background: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
  position: absolute;
  right: -584px; 
  top: 0;
  transition: all 200ms ease-in-out;
  z-index: 20;
}
#addContact {
  transition: all 200ms ease-in-out;
}
.addContactTop {
  display: flex;
  width: 492px;
  padding: 91px 46px;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  background: var(--Ligth-blue, #005dff);
  border-radius: 30px 0px 0px 0px;
}
.addContactTop button,
.editContactTop button {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 24px;
  top: 24px;
  display: flex;
  padding: 4px;
  align-items: flex-start;
  gap: 10px;
  border: unset;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(/assets/img/close_white.png);
}
.addContactTop img,
.editContactTop img {
  width: 55.123px;
  height: 66.483px;
}
.addContactTop h2,
.editContactTop h2 {
  color: white;
  font-family: OpenSans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 57.6px */
  margin-block-end: 0;
  margin-block-start: 0;
}
.addContactTop h3 {
  color: white;
  font-family: Inter;
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 32.4px */
}
.addContactBottom,
.editContactBottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  border-radius: 0 0 30px 30px;
  /* width: 100%; */
}
.addContactImage,
.editContactImage {
  width: 120px;
  height: 120px;
  border-radius: 70px;
  border: 3px solid var(--white, #FFF);
  background: #FFF;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
}
#contactImage,
#contactEditImage {
  position: relative;
  left: 28px;
  top: -100px;
  width: 64px;
  height: 64px;
}
.addContactInput-container,
.editContactInput-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.addContactInput,
.editContactInput {
  display: flex;
  width: 380px !important;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}
.addContactInput input,
.editContactInput input {
  width: 100%;
}
.addContactInput img,
.editContactInput img {
  position: absolute;
}
.addName,
.editName {
  background: url(/assets/img/person.png);
  background-repeat: no-repeat;
  background-position-x: 350px;
  align-items: center;
  border: unset;
  border-bottom: 1px solid var(--Style, #d1d1d1);
  justify-content: space-between;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  color: var(--black, #000);
  font-family: OpenSans;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 22.8px */
}
.addName::placeholder,
.addEmail::placeholder,
.addPhone::placeholder {
  color: var(--Style, #d1d1d1);
  font-family: OpenSans;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 22.8px */
}
.addEmail,
.editEmail {
  background: url(/assets/img/mail.png);
  background-repeat: no-repeat;
  background-position-x: 350px;
  align-items: center;
  border: unset;
  border-bottom: 1px solid var(--Style, #d1d1d1);
  justify-content: space-between;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  color: var(--black, #000);
  font-family: OpenSans;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 22.8px */
}
.addPhone,
.editPhone {
  background: url(/assets/img/call.png);
  background-repeat: no-repeat;
  background-position-x: 350px;
  align-items: center;
  border: unset;
  border-bottom: 1px solid var(--Style, #d1d1d1);
  justify-content: space-between;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  color: var(--black, #000);
  font-family: OpenSans;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 22.8px */
}
.addName:focus,
.addEmail:focus,
.addPhone:focus,
.editName:focus,
.editEmail:focus,
.editPhone:focus {
  outline: none;
}
.addContactBtns,
.editContactBtns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 25px;
}
.cancelAddContact,
.delEditContact {
  display: flex;
  width: 136px;
  height: 61px;
  padding: 16px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #647188;
  background: var(--white, #fff);
}
.cancelAddContact p,
.delEditContact p {
  color: #647188 inherit;
  font-family: OpenSans;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 27.6px */
}

.cancelAddContact:hover,
.delEditContact:hover {
  border: 2px solid #005dff;
  color: #005dff;
}
.createAddContact,
.saveEditContact {
  display: flex;
  height: 60px;
  padding: 16px 10px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 10px;
  background: var(--version-2-main-color, #4589ff);
  border: unset;
}
.createAddContact p,
.saveEditContact p {
  color: #fff;
  font-family: OpenSans;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 27.6px */
}
.createAddContact:hover,
.saveEditContact:hover {
  background: #005dff;
}
.editContact {
  height: 1024px;
  /* display: none; */
  flex-direction: column;
  align-items: center;
  gap: 72px;
  border-radius: 0px 30px 30px 30px;
  background: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
  position: absolute;
  left: -100%;
  transition: all 200ms ease-in-out;
  z-index: 100;
  top: 0;
}
.editContactTop {
  display: flex;
  width: 584px;
  padding: 108px 46px;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  background: var(--Ligth-blue, #005dff);
  border-radius: 0px 30px 0px 0px;
}
.mobileOptions {
  display: none;
}
.mobileOptionsWindow {
  display: none;
  padding: 10px;
  flex-direction: column;
  align-items: flex-start;
  z-index: 25;
  border-radius: 20px 20px 0px 20px;
  background: var(--white, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: absolute;
  right: 5%;
  bottom: 100px;
  transition: all 100ms ease-in-out;
}
.mobileOptionsWindow button {
  display: flex;
  width: 96px;
  padding: 8px;
  justify-content: flex-start;
  gap: 8px;
  border: none;
  background-color: unset;
  transition: all 100ms ease-in-out;
}
.newContactSuccess {
  display: none;
  width: 326px;
  height: 74px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: var(--version-2-main-color, #4589ff);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
  position: absolute;
  left: 50%;
  top: 120%;
  transform: translate(-50%, -50%);
  transition: all 800ms ease-in-out;
  z-index: 20;
}
.newContactSuccess p {
  color: #fff;
  font-family: OpenSans;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 27.6px */
}

/* Contacts Styling End  */

/* DESKTOP NAVBAR  */

/* TOP */
#user-initials {
  height: 46px;
  width: 46px;
  border-radius: 100%;
  background-color: #fff;
  box-shadow: 0 0 0 2px #4589ff, 0 0 0 5px #fff;

  color: #4589ff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}

header {
  background-color: #4589ff;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 56px;
  padding: 20px 39px;
}

.nav-logo img {
  height: 56px;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  width: 433px;
  height: 56px;
  flex-shrink: 0;
}

#help-icon {
  transition: transform 0.3s ease;
}

#help-icon:hover {
  transform: scale(1.2);
}

.nav-list li {
  margin-right: 20px;
}

.nav-list a {
  text-decoration: none;
  color: white;
}

/* DROPDOWN logout etc. */
.navbar-dropdown {
  z-index: 999;
  position: absolute;
  right: 5px;
  height: 150px;
  width: 200px;
  border-radius: 30px 0 30px 30px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
  background-color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar-dropdown li {
  list-style-type: none;
  padding: 5px 20px 15px 40px;
  text-decoration: none;
  /* font-size: 20px; */
  color: #818181;
  display: flex;
  align-items: center;
  justify-content: end;
  width: 60%;
  font-family: OpenSans;
}

.navbar-dropdown li a {
  text-decoration: none;
  color: inherit;
}

.navbar-dropdown li:hover {
  background-color: #e3eeff;
  border-radius: 8px;
  cursor: pointer;
}

/* SIDE */

.sidenav {
  height: calc(100% - 100px);
  align-items: center;
  margin-top: 100px;
  width: 232px;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  overflow-x: hidden;
  /* padding-top: 20px; */
  padding: 66px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
  z-index: 10;
}

.sidenav a {
  padding: 15px 0px 15px 40px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: flex;
  align-items: center;
  width: 186px;
  font-family: OpenSans;
  /* margin-left: 20px; */
}

.sidenav a:hover {
  background-color: #e3eeff;
  border-radius: 8px;
}

.sidenav a img {
  padding-right: 10px;
}

.sidenav .legal {
  margin-bottom: 100px;
}

.sidenav .legal a:hover {
  background-color: #fff;
  color: #4589ff;
}

/* SUMMARY */

.pointer {
  cursor: pointer;
}

.contactViewOff {
  left: 100%;
}
.contactViewOn {
  left: 60%;
}

@media (max-width: 1300px) {
  .contactViewOn {
    left: 50%;
  }
  .btnContainer,
  .contacts-container {
    left: 0;
  }
  .sidenav {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: unset;
    padding: 0px;
    flex-direction: row;
    height: 100px;
    width: 100%;
    margin-top: 0;
    justify-content: space-around;
    z-index: 50;
    background-color: white;
  }
  .sidenavPanels {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }
  .legal {
    display: none;
  }
  .contacts-container {
    height: calc(100vh - 96px - 100px);
  }
}
@media (max-width: 1000px) {
  html{
    overflow-y: hidden;
  }
  .contactViewOn {
    left: 0 !important;
    right: 0;
    z-index: 22;
    top: 144px;
    position: absolute;
    align-items: flex-start;
    background-color: white;
    height: calc(100vh - 96px - 76px);
    padding: 0px 20%;
  }
  .contact-view h2 {
    display: none;
  }
  .contactsProfileTop {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .profileName {
    justify-content: center;
  }
  .profileActions button {
    display: none;
  }
  .mobileOptionsOn {
    display: flex;
    z-index: 24;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid var(--Version-2-main-color, #4589ff);
    background: var(--Version-2-main-color, #4589ff);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: 24;
    bottom: 100px;
    right: 5%;
    cursor: pointer;
  }
  .mobileBackArrow {
    cursor: pointer;
    display: flex;
    position: absolute;
    right: 5%;
    top: 0px;
  }
  .contacts-top {
    flex-direction: column;
  }
  .contacts-top h2 {
    display: block;
  }
  .mobileAddContact {
    display: inline-flex;
  }
  .cancelAddContact{
    display: none;
  }
  .addContact-container {
    width: 100%;
    height: unset;
    top: 100px;
    bottom: 100px;
    right: -120%;
    border-radius: 30px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
  }
  .addContactBottom {
    width: 100%;
    padding: 0;
    position: relative;
    top: -130px;
  }
  .addContactTop {
    width: 100%;
    border-radius: 30px 30px 0px 0px;
    padding-top: 66px;
    padding-bottom: 66px;
    padding-left: 0;
    padding-right: 0;
  }
  .editContact {
    width: 100%;
    /* height: calc(100vh - 76px); */
    height: unset;
    top: 100px;
    bottom: 85px;
    left: -120%;
    border-radius: 30px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
  }
  .editContactTop {
    width: 100%;
    border-radius: 30px 30px 0px 0px;
    padding-top: 66px;
    padding-bottom: 66px;
    padding-left: 0;
    padding-right: 0;
  }
  .editContactBottom {
    width: 100%;
    padding: 0;
    position: relative;
    bottom: 5%;
  }
  .editContactBtns {
    margin-top: 40px;
  }
  .sidenavPanels,
  .sidenav {
    height: 76px;
    /* position: fixed; */
  }
  .sidenavPanels a {
    gap: 10px;
    width: 15%;
    flex-direction: column;
    padding: 0;
    justify-content: center;
    font-size: 24px;
  }
  .sidenavPanels a img {
    padding-right: 0;
  }
  .contact-view {
    left: var(--left-value);
  }
  .contacts {
    align-items: center;
    flex-direction: column;
    width: 100%;
    display: flex;
  }
  .firstLetter,
  .spacer,
  .contactInfo {
    width: 60%;
    display: flex;
  }
  .firstLetter {
    align-items: unset;
    padding-left: 70px;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-self: unset;
  }
  .contactList {
    width: 60%;
    position: unset;
    justify-content: center;
  }
  .btnContainer {
    display: none;
  }
  .contacts-container {
    box-shadow: none;
    width: 100%;
    display: flex;
    position: relative;
    top: 0;
  }
  .newContactSuccess {
    width: 326px;
    height: 74px;
    justify-content: center;
    align-items: center;
  }
  .newContactSuccess p {
    color: #fff;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 25.2px */
  }
}
@media (max-width: 820px) {
  .firstLetter,
  .spacer,
  .contactInfo {
    width: 80%;
    display: flex;
  }
  .li-display {
    display: none;
  }
  .nav-list {
    justify-content: flex-end;
  }
  #login-container {
    flex-direction: column-reverse;
    gap: 100px;
  }
  #sign-up {
    position: unset;
    display: inline-flex;
    align-items: center;
    gap: 35px;
  }
  #sign-up p {
    color: #000;
    font-family: OpenSans;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 22.8px */
  }
  .signUpBtn {
    text-decoration: none;
  }
  .signUpBtn button {
    display: flex;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: var(--Version-2-main-color, #4589ff);
    color: #fff;
    font-family: OpenSans;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 22.8px */
  }
  .login {
    display: flex;
    width: 85%; /* 396px */
    padding: 32px 16px;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    gap: 32px;
    border-radius: 30px;
    background: var(--white, #fff);
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
    position: relative;
    top: 60px;
  }
  .signUpInputContainer {
    width: 85% !important;
  }
  .signUpForm {
    width: 100% !important;
  }
  .contactViewOn {
    padding: 0 10%;
  }
}
@media (max-height: 980px) {
  .frontimage {
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    height: 78px;
    width: 64px;
  }
  .contactViewOn{
    top: 120px;
  }
  .addContact-container{
    gap: 72px;
    height: calc(100% - 100px);
  }
}
@media (max-height: 880px) {
  .frontimage {
    top: 6px !important;
    left: 6px !important;
  }
  .login {
    padding: 16px 16px;
    top: 0;
  }
  #login-container {
    gap: 40px;
  }
}
@media (max-width: 720px) {
  .sidenavPanels {
    display: flex;
    padding: 0px 16px;
    justify-content: space-between;
    align-items: center;
  }
  .sidenavPanels a img {
    width: 24px;
    height: 24px;
  }
  .sidenavPanels a {
    border-radius: 8px;
    display: flex;
    width: 75px;
    padding: 15px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex-shrink: 0;
    color: var(--menu-color, #42526e);
    font-family: OpenSans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 18px */
  }
}
@media (max-width: 600px) {
  .nav-list {
    width: 50%;
  }
  .firstLetter,
  .spacer,
  .contactInfo {
    width: 100%;
    display: flex;
  }
  .contactList {
    width: 80%;
  }
  .frontimage {
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    /* top: 37px; */
    /* left: 38px; */
    height: 78px;
    width: 64px;
  }
  .login h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    color: #000;
    text-align: center;
    font-family: OpenSans;
    font-size: 47px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 56.4px */
    width: 315px;
    margin-block-end: 0;
    margin-block-start: 0;
  }
  .login h1::after {
    width: 30%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
  }
  .loginInput {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    padding: 12px 21px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-bottom: 1px solid var(--Style, #d1d1d1);
    background: #fff;
    width: 90% !important;
    height: unset !important;
    margin-bottom: 0 !important;
  }
  .signUpInput {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    padding-right: 0 !important;
    padding-left: 0 !important;
    padding: 12px 21px;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid var(--Style, #d1d1d1);
    background: #fff;
    width: 75% !important;
    height: unset !important;
    margin-bottom: 0 !important;
  }
  .signUpHeader {
    gap: 20% !important;
  }
  .buttons {
    flex-direction: column;
    /* align-items: flex-start; */
    gap: 21px;
  }
  #remember-div {
    margin-left: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
  .contactViewOn {
    padding: 0 5%;
    overflow-y: hidden;
  }
}
@media (max-width: 432px) {
  .loginInput {
    width: 80% !important;
    align-self: unset;
  }
  .login {
    justify-content: center;
  }
  .privacyNotice {
    bottom: 26px;
  }
  /* Sign Up*/
  .singUpInputContainer {
    width: 95% !important;
  }
  .signUpImage {
    height: 78px;
    width: 64px !important;
  }
  .signUpForm {
    width: 100% !important;
  }
  .signUpInput {
    padding-right: 0 !important;
    padding: 12px 21px;

    width: 80% !important;
  }
  #remember-div label {
    color: var(--menu-color, #42526e);
    font-family: OpenSans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 19.2px */
  }
  .policy {
    color: var(--Ligth-blue, #005dff);
    font-family: OpenSans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 19.2px */
  }
  .signUpHeader h1 {
    font-size: 40px !important;
  }

}
@media (max-width: 380px) {
  .loginInput {
    width: 70% !important;
  }
}
