<header>
    <nav class="navbar">
        <div class="nav-logo"><img src="../../assets/img/Capa2.png"></div>
        <ul class="nav-list">
            <li><a href="#">Kanban Project Management Tool</a></li>
            <li><a href="#"><img id="help-icon" src="../../assets/img/help.png" alt="help logo"></a></li>

            <!-- User initials muss noch mit css angepasst werden und nicht als bild eingefügt (je nach user buchstaben etc) -->
            <li><a href="#"><img src="../../assets/img/User profile initials.png" alt="user initials"></a></li>
        </ul>
    </nav>
</header>

<div class="sidenav">
    <div>
        <a href="#">
            <img src="../../assets/img/nav-summary-icon.png" alt=""> Summary
        </a>
        <a href="#">
            <img src="../../assets/img/nav-add-task-icon.png" alt=""> Add Task
        </a>  
        <a href="#">
            <img src="../../assets/img/nav-board-icon.png" alt=""> Board
        </a>
        <a href="#">
            <img src="../../assets/img/nav-contact-icon.png" alt=""> Contact
        </a>
    </div>

    <div class="legal">
        <a href="">Privacy Policy</a>
        <a href="">Legal Notice</a>
    </div>
</div>