<header>
    <nav class="navbar">
        <div class="nav-logo"><img src="../../assets/img/Capa2.png"></div>
        <ul class="nav-list">
            <li class="li-display"><a href="#">Kanban Project Management Tool</a></li>
            <li class="li-display"><a href="../help.html"><img id="help-icon" src="../../assets/img/help.png" alt="help logo"></a></li>

            <!-- User initials muss noch mit css angepasst werden und nicht als bild eingefügt (je nach user buchstaben etc) -->
            <li><a href="#"><img src="../../assets/img/User profile initials.png" alt="user initials"></a></li>
        </ul>
    </nav>
</header>