<div class="sidenav plain_sidenav">
    <!-- <div>
        <a href="/summary.html">
            <img src="../../assets/img/nav-summary-icon.png" alt=""> Summary
        </a>
        <a href="/add_task.html">
            <img src="../../assets/img/nav-add-task-icon.png" alt=""> Add Task
        </a>  
        <a href="/board.html">
            <img src="../../assets/img/nav-board-icon.png" alt=""> Board
        </a>
        <a href="/contacts.html">
            <img src="../../assets/img/nav-contact-icon.png" alt=""> Contact
        </a>
    </div> -->

    <div class="legal">
        <div id="privacy_policy">
            <a href="../plain_privacy_policy.html">Privacy Policy</a>
        </div>
        <div id="legal_notice">
            <a href="../plain_legal_notice.html">Legal Notice</a>
        </div>
    </div>
</div>