<div class="add-task-container">
    <form onsubmit="createTask(); return false;">
        <div class="add-task-container-content">
            <h2>Contact Form & Imprint</h2>

            <input required class="pointer" type="text" placeholder="Enter a title" id="add-task-title">

            <label for="add-task-description">Description (optional)</label>
            <textarea class="pointer" type="text" name="add-task-description" id="add-task-description"
                placeholder="Enter a description"></textarea>

            <label for="add-task-date">Due date</label>
            <input required class="pointer" type="date" name="add-task-date" id="add-task-date">

            <label for="add-task-priority">Priority (optional)</label>
            <div id="add-task-priority">
                <div id="add-task-urgent" class="add-task-priority-box pointer" onclick="changePriority('urgent')">
                    <div>Urgent</div>
                    <img src="/assets/img/Prio urgent.png" alt="">
                </div>
                <div id="add-task-medium" class="add-task-priority-box pointer" onclick="changePriority('medium')">
                    <div>Medium</div>
                    <img src="/assets/img/Prio medium.png" alt="">
                </div>
                <div id="add-task-low" class="add-task-priority-box pointer" onclick="changePriority('low')">
                    <div>Low</div>
                    <img src="/assets/img/Prio low.png" alt="">
                </div>
            </div>

            <label for="add-task-assigne">Assgigned to (optional)</label>
            <div class="pointer" id="add-task-assigne" onclick="showAndHideContacts()">
                <div>Select contacts to assgin</div>
                <img src="/assets/img/arrow_drop_down.png" alt="">
            </div>
            <div class="d-none" id="add-task-contacts-to-assigne">
                <!-- Gets rendered through a function now -->
            </div>

            <!-- change it like above in the add-task-contact -->
            <label for="add-task-category">Category</label>
            <!-- <div class="pointer" id="add-task-category" onclick="showAndHideCategories()">
                <div id="add-task-currently-selected-category">Select task category</div>
                <img src="/assets/img/arrow_drop_down.png" alt="">
            </div>
            <div class="d-none" id="add-task-category-dropdown">
                <div class="add-task-category-dropdown-task" onclick="selectedTask('technical-task')">Technical Task
                </div>
                <div class="add-task-category-dropdown-task" onclick="selectedTask('user-story')">User Story</div>
            </div> -->

            <select class="pointer" name="category" id="add-task-category">
                <option value="" disabled selected>Select task category</option>
                <option value="technical-task">Technical Task</option>
                <option value="user-story">User Story</option>
            </select>

            <label for="add-task-subtask">Subtask (optional)</label>
            <input class="pointer" type="text" name="subtask" id="add-task-subtask" placeholder="Add new subtask">
        </div>

        <div class="add-task-form-buttons">
            <button type="button" id="add-task-clear-form" onclick="clearForm()" formnovalidate>Clear X</button>
            <button id="add-task-create-task"> Create Task <img src="/assets/img/check.png" alt=""></button>
        </div>
    </form>
</div>